sounds_dca
.env
addsound/addsound
addsound/src
addsound/dist
admin/.nuxt
admin/node_modules
admin/dist
backend/data
backend/backend
backend/gin-bin
backend/debug.test
backend/README.md
backend/config/environment
bot/bot
bot/config.yml
bot/config.local.yml
genpass/genpass
web/.nuxt
web/node_modules
web/dist